.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h3 {
  order: 2;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
  color: $black3;
}

.card__img-wrapper {
  width: 342px;
  height: 503px;
}
