//   Gray

$dark-gray: #131314;
$gray: #48494d;
$light-gray: #f6f6f6;
$light-gray2: #c9ccd4;
$light-gray3: #f6f7f9;


//   White

$white: #ffffff;
$white-op70: rgba(255, 255, 255, 0.7);


//   Black

$black-op20: rgba(255, 255, 255, 0.2);
$black-op50: rgba(0, 0, 0, 0.5);
$black-op70: rgba(0, 0, 0, 0.7);
$black: #1f1f1f;
$black2: #1c1c1c;
$black3: #000000;


//   Blue

$blue: #0ad9c6;
