//   Gray

$dark-gray: #131314;
$gray: #48494D;
$light-gray: #F6F6F6;


//   White

$white-op70: rgba(255, 255, 255, 0.7);


//   Black

$black-op20: rgba(255, 255, 255, 0.2);


//   Blue

$blue: #0AD9C6;
