.page-footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.page-footer__wrapper {
  box-sizing: border-box;
  min-width: 100%;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: initial;
    padding: 0;
  }
}
