.types-bike {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: $light-gray3;
}

.types-bike__wrapper {
  max-width: 1440px;
  padding: 112px 60px 147px 60px;

  @media (max-width: $tablet-width) {
    padding: 50px 80px 45px;
  }

  @media (max-width: $mobile-width) {
    padding: 50px 25px 30px;
  }
}

.types-bike__title {
  margin: 0 0 50px;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $black3;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin: 0 0 28px;
    font-size: 24px;
    line-height: 41px;
  }
}

.types-bike__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
  }
}

.types-bike__item {
  position: relative;
  z-index: 1;
  margin: 0 50px 40px 0;

  @media (max-width: $tablet-width) {
    margin: 0 50px 20px 0;
  }

  @media (max-width: $mobile-width) {
    margin: 0 50px 20px 50px;
  }

  &:nth-child(2n) {
    @media (max-width: $tablet-width) {
      margin: 0 0 50px 0;
    }
  }

  &:nth-child(3n) {
    margin: 0 0 0 0;

    @media (max-width: $tablet-width) {
      margin: initial;
    }
  }

  &:first-child {
    padding: 10px 0 0 0;

    @media (max-width: $tablet-width) {
      padding: 0;
    }
  }

  &:nth-child(3n + 2) {
    padding: 39px 0 0 0;

    @media (max-width: $tablet-width) {
      padding: 0;
    }
  }

  &:nth-child(3n + 2)::before,
  &:nth-child(3n + 2)::after {
    content: "";
    position: absolute;
    display: block;
    width: 47px;
    height: 47px;
    border: 8px solid $blue;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &:nth-child(3n + 2)::before {
    top: 17px;
    left: -19px;
  }

  &:nth-child(3n + 2)::after {
    bottom: 53px;
    right: -23px;
  }

  &:nth-child(4n) {
    padding: 10px 0 0 0;

    @media (max-width: $tablet-width) {
      padding: 0;
    }
  }

  &:nth-child(3n + 1)::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 156px;
    left: -60px;
    display: block;
    width: 180px;
    height: 180px;
    border: 27px solid $blue;
    border-radius: 50%;

    @media (max-width: $tablet-width) {
      top: 203px;
      left: -33px;
      width: 127px;
      height: 127px;
      border-width: 18px;
    }

    @media (max-width: $mobile-width) {
      top: 203px;
      left: -22px;
    }
  }

  &:nth-child(3n)::before {
    content: "";
    position: absolute;
    top: -32px;
    right: -36px;
    display: block;
    width: 95px;
    height: 95px;
    border: 17px solid $blue;
    border-radius: 50%;

    @media (max-width: $tablet-width) {
      top: -22px;
      right: -23px;
      width: 68px;
      height: 68px;
      border-width: 13px;
    }
  }
}
